<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>choseCat</servlet-name>
        <servlet-class>Servlet.choseCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>choseFig</servlet-name>
        <servlet-class>Servlet.choseFig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtoCart</servlet-name>
        <servlet-class>Servlet.addtoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCart</servlet-name>
        <servlet-class>Servlet.showCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeFromCart</servlet-name>
        <servlet-class>Servlet.removeFromCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>choseCat</servlet-name>
        <url-pattern>/choseCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>choseFig</servlet-name>
        <url-pattern>/choseFig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtoCart</servlet-name>
        <url-pattern>/addtoCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCart</servlet-name>
        <url-pattern>/showCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeFromCart</servlet-name>
        <url-pattern>/removeFromCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
